@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Varela', sans-serif;
font-family: 'Catamaran', sans-serif;
*/

html {
  min-height: 100vh;
  font-size: 15px;
  font-family: 'Varela', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x:hidden;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 31, 32);
  min-height: 70px;
  min-width: 100%;
  color: white;
  font-family: 'Ubuntu', san-serif;
  z-index: 10;
}

header {
  position: fixed;
  transform: translateY(-70px);
  transition: all 0.5s ease-in-out;
}

header.scroll {
  transform: translateY(0);
  transition: all 1s ease-in-out;
}

#header-wrapper {
  display: grid;
  grid-template: 1fr / 1fr 2fr 1fr;
  width: 100%;
  max-width: 1080px;
}

#logo-container {
  display: flex;
  align-items: center;
}

#header-logo {
  font-family: 'Exo', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  width:fit-content;
  margin-left: 1rem;
  transition: all 0.25s ease-in-out;
}

#header-logo:hover {
  cursor: pointer;
  color: rgb(43, 108, 192);
  transition: all 0.25s ease-in-out;
}

#nav-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.nav-button {
  border: none;
  padding: 0.25rem 1rem;
  font-family: 'Exo', sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  color:rgb(218, 218, 224);
  margin-right: 1rem;
  transition: all 0.25s ease-in-out;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button:hover{
  color:rgb(43, 108, 192);
  cursor:pointer;
  transition: all 0.25s ease-in-out;
}

.nav-button:active {
  transform: scale(0.95);
}

#msg-container {
  text-align: center;
}

a {
  text-decoration: none;
  color:rgb(218, 218, 224);
}

a:hover {
  color:rgb(89, 133, 190);
}

#site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh);
}

#lander-body {
  /*
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-areas:
                      "a a a"
                      ". b b"
                      ". . c";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(0, 12rem) minmax(0, 12rem) minmax(0, 12rem);
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Catamaran', sans-serif;
  font-size: clamp(6rem, calc(100vw / 9.5), 10rem);
  font-weight: 700;
  width: clamp(320px, 60vw, 1000px);
  transition: all 0.25s ease-in-out;
}

#name-wrapper {
  transform: translateY(-6rem);
}

.name-container {
  width: clamp(320px, 60vw, 1000px);
}

.name-ele {
  max-height: 12rem;
  color: rgb(53, 54, 54);
  background-color: rgb(53, 54, 54);
  font-weight: 200;
}

#first-name {
  position: relative;
  animation: translate-right 1s ease-in-out 0s 1 forwards, background-white 1.5s ease-in 1s 1 forwards;
  transition: all 0.25s ease-in-out;
  z-index: 9;
}

#middle-name {
  position: relative;
  animation: translate-left 1s ease-in-out 0s 1 forwards, background-white 1.5s ease-in 1s 1 forwards;
  padding-left: 6rem;
  transition: all 0.25s ease-in-out;
  z-index: 9;
}

#last-name {
  position: relative;
  animation: translate-right 1s ease-in-out 0s 1 forwards, background-white 1.5s ease-in 1s 1 forwards;
  padding-left: 12rem;
  transition: all 0.25s ease-in-out;
  z-index: 9;
}

#about-text {
  position: absolute;
  width: clamp(345px, 60vw, 1000px);
  color:rgb(70, 70, 75);
  z-index: 5;
  text-align: center;
  font-size: clamp(0.8rem, calc(100vw / 52), 1.4rem);
  font-weight: 200;
  transform: translateX(-100vw) translateY(15rem);
  animation: translate-right-about 1s linear 2s 1 forwards;
  color:rgb(255, 255, 255);
}

#about-title {
  position: absolute;
  width: clamp(375px, 60vw, 1000px);
  color:rgb(70, 70, 75);
  z-index: 5;
  text-align: center;
  font-size: clamp(0.9rem, calc(100vw / 46), 1.65rem);
  font-weight: 500;
  transform: translateX(100vw) translateY(20rem);
  animation: translate-left-about 1s linear 2s 1 forwards;
  color:rgb(255, 255, 255);
}

#about-bd {
  position: absolute;
  height: clamp(6.5rem, 12vw, 8rem);
  width: 100vw;
  background-color: rgb(70,70,75);
  z-index: 4;
  transform: translateX(100vw);
  animation: translate-left-aboutbd 1s cubic-bezier(0.075, 0.82, 0.165, 1) 2s 1 forwards;
}

#shape-horizontal {
  position: absolute;
  background-color:rgb(43, 108, 192);
  height: clamp(7.5rem, 16vw, 10.5rem);
  width: 60vw;
  z-index: 3;
  transform: translateX(-100vw);
  animation: translate-right-sh 1.25s cubic-bezier(0.165, 0.84, 0.44, 1) 2s 1 forwards;
}

#shape-vertical {
  position: absolute;
  background-color:rgb(70, 70, 75);
  height: clamp(500px, 70vw, 670px);
  width: clamp(7.25rem, 13vw, 9rem);
  z-index: 2;
  transform: translateY(-100vh);
  animation: translate-down 1.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s 1 forwards;
}

#see-more {
  position: absolute;
  justify-content: center;
  font-size: 2rem;
  font-weight: 100;
  transform: translateY(-100vh) translateX(10rem);
  z-index: 9;
  animation: translate-down 1.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s 1 forwards;
}

#btn-see-more {
  width: 5rem;
  height: 5rem;
  filter: invert(100%) sepia(0%) saturate(2359%) hue-rotate(230deg) brightness(98%) contrast(100%);
}

#see-more:hover {
  filter: invert(34%) sepia(88%) saturate(860%) hue-rotate(184deg) brightness(91%) contrast(86%);
}

#resume-body {
  max-width: 1080px;
  min-width: 280px;
  width: 97vw;
  box-shadow: 0 0 0.5rem black;
  padding: 2rem;
  min-height: calc(100vh - 140px);
  overflow-y: overlay;
  margin-top: 5rem;
}

#res-anchor {
  min-height: 2rem;
}

.res-link {
  color: black;
}

#user-name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
}

#info-container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  row-gap: 0.5rem;
  margin-top: 1rem;
}

.info-element {
  padding: 0 1rem;
}

.sum-item {
  font-family: 'Varela', sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.section-title {
  margin-top: 1.5rem;
  font-family: 'Exo', sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  padding-left: 0rem;
}

#skills-position {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

#skills-wrapper {
  display: grid;
  grid-template: 1fr / repeat(9, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 85%;
  text-align: center;
}

.edex-section {
  padding-left: 1rem;
  margin-top: 1rem;
}

.section-opener {
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

.section-header {
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.date-range {
  padding-left: 0.5rem;
}

.section-description {
  padding-left: 0.5rem;
}

#contact-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  background-color:rgb(53, 54, 54);
  text-decoration: none;
  color:rgb(218, 218, 224);
  border-top-color: rgb(43, 108, 192);
  padding-bottom: 1rem;
}

#contact-title {
  margin-top: 1rem;
  font-family: 'Exo', sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  padding-left: 0.25rem; 
}

#contact-wrapper {
  display: flex;
  column-gap: 4rem;
  margin-top: 2rem;
  transition: all 0.25s ease-in-out;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
}

.contact-grid {
  display: grid;
}

#direct-grid {
  grid-template: 1fr 1fr / 1fr 3fr;
  gap: 1rem;
  margin-top: 2rem;
}

#social-grid {
  grid-template: 1fr 1fr / 1fr 2fr;
  margin-top: 1rem;
  column-gap: 1rem;
  align-items: center;
}

.direct-label {
  text-align: end;
}

.social-link {
  text-align: end;
}

.social-label {
  font-size: 1.9rem;
}

.social-img {
  width: 3rem;
}

#port-anchor {
  min-height: 4rem;
}

#portfolio-body {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 140px);
}

#port-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template: 1fr / 1fr;
  max-width: 1080px;
  gap: 3rem;
  padding: 2rem;
  text-decoration: none;
  color:rgb(218, 218, 224);
}

#port-grid>a:hover {
  color:rgb(218, 218, 224);
}

.port-card {
  max-width: 880px;
  min-width: 280px;
  border-radius: 2rem;
  box-shadow: 0 0 1rem black;
  overflow: hidden;
  border-left: 2.3rem solid rgb(0, 0, 0);
  background-position: 0 -1rem;
}

.port-card:hover {
  border-left: 2.3rem solid rgb(43, 108, 192);
}

#memory-card-game {
  background-image: url('../assets/portfolio-matching-game.webp');
}

#tdd-practice {
  background-image: url('../assets/portfolio-tdd.webp');
}

#todo-project {
  background-image: url('../assets/portfolio-todo-project.webp');
}

#restaurant-project {
  background-image: url('../assets/portfolio-restaurant-project.webp');
}

#weather-app {
  background-image: url('../assets/portfolio-weather-app.webp');
}

#cv-project {
  background-image: url('../assets/portfolio-cv-project.webp');
}

.port-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 1) 3%, rgba(255, 255, 255, 0), rgba(31, 31, 32, 1) 32%);
  padding-left: 0;
  transition: all 0.25s ease-in-out;
}

.port-name, .port-desc, .port-directions {
  margin: 0.5rem 0;
  margin-left: 20rem;
  padding-right: 2rem;
  transition: all 0.25s ease-in-out;
}

.port-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0;
  padding-top: 1rem;
}

.port-directions {
  margin-bottom: 0;
  padding-bottom: 1rem;
  font-weight: 300;
  text-align: justify;
}

.port-git {
  background-color:rgb(70, 70, 75);
  border-radius: 0.75rem;
  color:rgb(43, 108, 192);
  text-align: center;
  padding: 0.25rem 0.5rem;
  margin-left: 20rem;
}

.port-desc {
  font-weight: 100;
  text-align: justify;
}

@media (max-width: 1155px) {
  #resume-body {
    padding: 0;
  }
}

@media (max-width: 950px) {
  #skills-wrapper{
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }
}

@media (max-width: 850px) {
  .port-gradient {
    background: linear-gradient(0.25turn, rgba(0, 0, 0, 1) 3%, rgba(255, 255, 255, 0), rgba(31, 31, 32, 1) 28%);
    transition: all 0.25s ease-in-out;
  }

  .port-name {
    margin-left: 32%;
    transition: all 0.25s ease-in-out;
  }

  .port-git {
    margin-left: 32%;
    transition: all 0.25s ease-in-out;
  }

  .port-desc {
    margin-left: 32%;
    transition: all 0.25s ease-in-out;
  }

  .port-directions {
    margin-left: 32%;
    transition: all 0.25s ease-in-out;
  }

  .nav-button {
    font-size: 1.5rem;
    transition: all 0.25s ease-in-out;
  }
}

@media (max-width: 720px) {
  #shape-vertical {
    animation: translate-down-mini 1.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s 1 forwards;
  }

  #see-more {
    animation: translate-down-mini 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s 1 forwards;
  }

  #info-container {
    grid-template: repeat(4, 1fr) / 1fr;
  }

  .nav-button {
    font-size: 1.1rem;
    transition: all 0.25s linear;
    margin-right: 0.5rem; 
  }

  .port-card {
    border-left: none;
    border-top: 2.3rem solid rgb(0, 0, 0);
    background-position: -1rem 0rem;
  }

  .port-card:hover {
    border-top: 2.3rem solid rgb(43, 108, 192);
    border-left: none;
  }

  .port-gradient {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0.25turn, rgba(0, 0, 0, 1) 3%, rgba(255, 255, 255, 0), rgba(31, 31, 32, 1) 25%);
    transition: all 0.25s ease-in-out;
  }

  .port-name {
    margin-left: 30%;
    transition: all 0.25s ease-in-out;
  }

  .port-git {
    margin-left: 30%;
    transition: all 0.25s ease-in-out;
  }

  .port-desc {
    margin-left: 30%;
    transition: all 0.25s ease-in-out;

  }

  .port-directions {
    margin-left: 30%;
    transition: all 0.25s ease-in-out;
  }

  #name-wrapper {
    width: 100%;
  }

  .name-ele {
    font-size: 6.5rem;
    transition: all 0.25s linear;
  }

  #middle-name {
    padding: 0;
    transition: all 0.25s ease-in-out;
  }

  #last-name {
    padding: 0;
    transition: all 0.25s ease-in-out;
  }

  #contact-wrapper {
    display: block;
    column-gap: 4rem;
    margin-top: 2rem;
    transition: all 0.25s ease-in-out;
  }

  #direct-grid {
    margin-top: 1rem;
  }

  #social-container {
    margin-top: 1rem;
  }
}

@media (max-width: 650px) {
  .port-card {
    border-left: none;
    border-top: 2.3rem solid rgb(0, 0, 0);
    background-position: -1rem, 0;
  }

  .port-card:hover {
    border-top: 2.3rem solid rgb(43, 108, 192);
    border-left: none;
  }

  .port-gradient {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0.5turn, rgba(0, 0, 0, 1) 3%, rgba(255, 255, 255, 0), rgba(31, 31, 32, 1) 25%);
    transition: all 0.25s ease-in-out;
  }

  .port-name {
    margin-left: 1rem;
    margin-top: 35%;
    padding-top: 0rem;
    transition: all 0.25s ease-in-out;
    padding-right: 0;
    margin-right: 1rem;
  }

  .port-git {
    margin-left: 1rem;
    transition: all 0.25s ease-in-out;
    max-width: 320px;
    padding-right: 0;
    margin-right: 1rem;
  }

  .port-desc {
    margin-left: 1rem;
    transition: all 0.25s ease-in-out;
    padding-right: 0;
    margin-right: 1rem;
  }

  .port-directions {
    margin-left: 1rem;
    transition: all 0.25s ease-in-out;
    padding-right: 0;
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  .nav-button {
    font-size: 1rem;
    transition: all 0.25s linear;
    margin-right: 0;
    padding-right: 0.5rem;
  }

  #lander-body {
    width: 86vw;
    transition: all 0.25s ease-in-out;
  }

  .back-drop {
    width: 100vw;
    left: 0;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .name-container {
    width: 100%;
  }

  .nav-button {
    padding-left: 0;
    padding-right: 0.25rem;
  }
}


@keyframes translate-left {
  from {
    transform: translateX(100vw);
  }
  
  to {
    transform: none;
  }
}

@keyframes translate-left-about {
  from {
    transform: translateX(100vw) translateY(14rem);
  }
  
  to {
    transform: translateX(-4rem) translateY(16rem);
  }
}

@keyframes translate-left-aboutbd {
  from {
    transform: translateX(100vw) translateY(17.2rem);
  }
  
  to {
    transform: translateX(0rem) translateY(17.2rem);
  }
}

@keyframes translate-right {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: none;
  }
}

@keyframes translate-right-about {
  from {
    transform: translateX(-100vw) translateY(9rem);
  }
  
  to {
    transform: translateX(2rem) translateY(19rem);
  }
}

@keyframes background-white {
  from {
    background-color: rgb(53, 54, 54);
  }

  to {
    background-color: rgb(255, 255, 255);
  }
}

@keyframes hide-element {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes translate-down {
  from {
    transform: translateY(-100vh) translateX(18rem);
  }

  to {
    transform: translateY(0) translateX(18rem);
  }
}

@keyframes translate-down-mini {
  from {
    transform: translateY(-100vh) translateX(10rem);
  }

  to {
    transform: translateY(0) translateX(10rem);
  }
}

@keyframes translate-right-sh {
  from {
    transform: translateX(-100vw) translateY(17.2rem);
  }

  to {
    transform: translateX(0rem) translateY(17.2rem);
  }
}